# PRACTICE PROJECT - Ebay Car Sales

This is my next Practice Project
This time it will focus on practicing the Pandas an Numpy libraries as well as getting better at data cleaning.

In [1]:
import pandas as pd
import numpy as np
autos = pd.read_csv('/content/drive/My Drive/- CODE/Practice Projects/Kleinanzeigen/autos.csv',encoding='Latin-1')

In [2]:
autos

               dateCrawled  ...             lastSeen
0      2016-03-26 17:47:46  ...  2016-04-06 06:45:54
1      2016-04-04 13:38:56  ...  2016-04-06 14:45:08
2      2016-03-26 18:57:24  ...  2016-04-06 20:15:37
3      2016-03-12 16:58:10  ...  2016-03-15 03:16:28
4      2016-04-01 14:38:50  ...  2016-04-01 14:38:50
...                    ...  ...                  ...
49995  2016-03-27 14:38:19  ...  2016-04-01 13:47:40
49996  2016-03-28 10:50:25  ...  2016-04-02 14:18:02
49997  2016-04-02 14:44:48  ...  2016-04-04 11:47:27
49998  2016-03-08 19:25:42  ...  2016-04-05 16:45:07
49999  2016-03-14 00:42:12  ...  2016-04-06 21:18:48

[50000 rows x 20 columns]

In [3]:
autos.info()
autos.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   dateCrawled          50000 non-null  object
 1   name                 50000 non-null  object
 2   seller               50000 non-null  object
 3   offerType            50000 non-null  object
 4   price                50000 non-null  object
 5   abtest               50000 non-null  object
 6   vehicleType          44905 non-null  object
 7   yearOfRegistration   50000 non-null  int64
 8   gearbox              47320 non-null  object
 9   powerPS              50000 non-null  int64
 10  model                47242 non-null  object
 11  odometer             50000 non-null  object
 12  monthOfRegistration  50000 non-null  int64
 13  fuelType             45518 non-null  object
 14  brand                50000 non-null  object
 15  notRepairedDamage    40171 non-null  object
 16  dateCreated          50000 non-null  object
 17  nrOfPictures         50000 non-null  int64
 18  postalCode           50000 non-null  int64
 19  lastSeen             50000 non-null  object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

           dateCrawled  ...             lastSeen
0  2016-03-26 17:47:46  ...  2016-04-06 06:45:54
1  2016-04-04 13:38:56  ...  2016-04-06 14:45:08
2  2016-03-26 18:57:24  ...  2016-04-06 20:15:37
3  2016-03-12 16:58:10  ...  2016-03-15 03:16:28
4  2016-04-01 14:38:50  ...  2016-04-01 14:38:50

[5 rows x 20 columns]

# Observations
Since this is mainly a data cleaning project, i'm mostly going to look at what i see needs to clean up.
Lets look at the dataframe info first:
* gearbox, model, fuelType and notRepairedDamage seem to have less rows.

  --> If i remember correctly this is due to NaN values, i will have to examine those columns further
* some columns are integer series, i will want to take a closer look if perhaps i'd need to turn some of those into floats or if this is good enough.
perhaps a column title would need clarification if the unit in which the data is measured was not defined anywhere.

This is the only thing that stands out from the dataframe info.
Lets now look at the actual columns:

* 'name' column will need the underscores removed.
* 'price' ill want to remove the $ sign, remove the ',' and turn the data into integers. I'll also have to rename the column to price_dollars
* For all columns i'll have to check unique values and unify spelling
* 'odometer' i'll have to remove the km, and the',', turn the data into integers and rename the column into 'odometer_km' (Also research what 'odometer' is as i really have no idea what that means)
* 'date_created' and 'last_seen' i'll want to turn into datetime objects
* for all strings i want to replace camel case with snake case

In [4]:
# Renaming and clarifying some of the column names first
columns = autos.columns
new_columns = []
for c in columns:
  if c == 'yearOfRegistration':
    c = 'registration_year'
    new_columns.append(c)
    print(new_columns)
  elif c == 'monthOfRegistration':
    c = 'registration_month'
    new_columns.append(c)
    print(new_columns)
  elif c == 'notRepairedDamage':
    c = 'unrepaired_damage'
    new_columns.append(c)
    print(new_columns)
  elif c == 'dateCreated':
    c = 'ad_created'
    new_columns.append(c)
    print(new_columns)
  else:
    new_columns.append(c)

['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest', 'vehicleType', 'registration_year']
['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest', 'vehicleType', 'registration_year', 'gearbox', 'powerPS', 'model', 'odometer', 'registration_month']
['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest', 'vehicleType', 'registration_year', 'gearbox', 'powerPS', 'model', 'odometer', 'registration_month', 'fuelType', 'brand', 'unrepaired_damage']
['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest', 'vehicleType', 'registration_year', 'gearbox', 'powerPS', 'model', 'odometer', 'registration_month', 'fuelType', 'brand', 'unrepaired_damage', 'ad_created']

In [5]:
# Addressing camelcase to snakecase issue next
import re
cleaned_columns = []
for c in new_columns:
  c = re.sub('([A-Z]+)', r'_\1',c).lower()
  cleaned_columns.append(c)

## Note on re library import

I found this regex library while googling the issue of replacing camelcase 
just because i found looping through strings too brute force 
and wanted to find a more elegant solution.
This here seems to do exactly that with just a single line of code.

In [6]:
# Re assign the modified column names back to the dataframe
autos.columns = cleaned_columns

In [7]:
autos.head()

          date_crawled  ...            last_seen
0  2016-03-26 17:47:46  ...  2016-04-06 06:45:54
1  2016-04-04 13:38:56  ...  2016-04-06 14:45:08
2  2016-03-26 18:57:24  ...  2016-04-06 20:15:37
3  2016-03-12 16:58:10  ...  2016-03-15 03:16:28
4  2016-04-01 14:38:50  ...  2016-04-01 14:38:50

[5 rows x 20 columns]

The column titles have now been cleand, simplified or made more clear and converted from camelcase to snakecase. 
In the process i discovered the regex library which i hope will help me with future tasks.

## Next steps
Moving on to more data exploration to see what steps to take next.

In [8]:
autos.describe(include='all')

               date_crawled         name  ...   postal_code            last_seen
count                 50000        50000  ...  50000.000000                50000
unique                48213        38754  ...           NaN                39481
top     2016-03-30 19:48:02  Ford_Fiesta  ...           NaN  2016-04-07 06:17:27
freq                      3           78  ...           NaN                    8
mean                    NaN          NaN  ...  50813.627300                  NaN
std                     NaN          NaN  ...  25779.747957                  NaN
min                     NaN          NaN  ...   1067.000000                  NaN
25%                     NaN          NaN  ...  30451.000000                  NaN
50%                     NaN          NaN  ...  49577.000000                  NaN
75%                     NaN          NaN  ...  71540.000000                  NaN
max                     NaN          NaN  ...  99998.000000                  NaN

[11 rows x 20 columns]

##First i want to explore if there are any columns that might be candidates to:
* be dropped
* investigate further
* contain numeric data stored as text that needs to be cleaned


---

## Drop Candidates
* nr_ of_pictures - min and max are both that tells me there's no pictures at all, which makes this column obsolete
* not sure if date_crawled is going to help us in any way
* lastly i'm also not sure about the last_seen column 

## Further investigation candidates
* Offer Type i'd like to see if what the unique values are there.
* *Speaking german i'm seeing only offers in the df.head() so perhaps theres also 'looking for' entries. These two groups would probably have to be separated*
* There seem to be some discrepancies in the postal_code column. Would have to investigate that
* power_ps needs investigation too as 17700 horse power is unrealistically high as the max value

# Text to numeric candidates
* price and odometer stand out for this remove $ and 'km' and put in the column title
* 'date_created' and 'last_seen' i'll want to turn into datetime objects

In [9]:
# Further investigate columns
autos['offer_type'].value_counts()

Angebot    49999
Gesuch         1
Name: offer_type, dtype: int64

As expected, there's a single row that is a 'looking for' ad.
I'll drop this row as it is not relevant.

In [10]:
autos = autos[autos['offer_type'] == 'Angebot']
autos['offer_type'].value_counts()

Angebot    49999
Name: offer_type, dtype: int64

In [11]:
autos['postal_code'].describe()

count    49999.000000
mean     50814.049781
std      25779.832670
min       1067.000000
25%      30451.000000
50%      49577.000000
75%      71540.000000
max      99998.000000
Name: postal_code, dtype: float64

I'd like to suss out those postal codes that only have 4 digits as that seems wrong. So i'll do this next.

In [12]:
short_plz = autos['postal_code']
shorter_plz = []
for plz in short_plz:
  if plz <= 9999:
    shorter_plz.append(plz)

print(len(shorter_plz))

2428

I googled [postal code lenghts](https://www.google.com/search?q=postal+code+lenghts+in+germany&rlz=1C1GCEA_enNZ836NZ836&oq=postal+code+lenghts+in+germany&aqs=chrome..69i57j33l7.4743j0j7&sourceid=chrome&ie=UTF-8) in germany and found out that postal codes are 5 digits in length. This means that these postal codes are either wrong or very old.
They are a small percentage of the dataset though, so i'm just going to set those values to NaN instead of dropping the rows completely.

In [13]:
# removing postal codes that have 4 digits or less
for code in autos['postal_code']:
  if code <= 9999:
    autos['postal_code'].replace(code,np.NaN)
autos['postal_code'].describe()

count    49999.000000
mean     50814.049781
std      25779.832670
min       1067.000000
25%      30451.000000
50%      49577.000000
75%      71540.000000
max      99998.000000
Name: postal_code, dtype: float64

In [14]:
autos['power_ps'].describe()

count    49999.000000
mean       116.358247
std        209.218073
min          0.000000
25%         70.000000
50%        105.000000
75%        150.000000
max      17700.000000
Name: power_ps, dtype: float64

Next on the list is checking what the deal is with the rows that have 0 PS or 17k PS. 
For that i'll first separate those in a new dataframe to analyze them.
Then decide what to do.

In [15]:
low_ps = autos[autos['power_ps'] <= 10]
high_ps = autos[autos['power_ps'] > 1000]

low_ps['power_ps'].value_counts()

0     5499
5       13
1        5
4        4
3        3
10       3
6        3
2        2
8        2
9        1
Name: power_ps, dtype: int64

In [16]:
high_ps['power_ps'].value_counts()
high_ps['power_ps'].describe()

count       53.000000
mean      3985.679245
std       4676.899815
min       1001.000000
25%       1367.000000
50%       1793.000000
75%       4400.000000
max      17700.000000
Name: power_ps, dtype: float64

After looking at the low PS data i've deceded to turn the 0 PS rows into NaN's just like with the postal codes.

As for the High PS data i had to do a bit of research. 
Some of the cars with 500PS were sports editions like a BMW M5 that actually do have that much power, however, everything ove 1000Ps seems to be a data entry error.

Looking at the cars on that list, i think i could shift the comma, however, there seems to be cases where the comma needs to be shifted by 1 and others by 2. 
Going through 49 entries manually is too much work for the scope of this project, so i'm just going to turn those values into NaN's as well.

In [17]:
'''
Two tasks:
- Turn 0 PS rows into NaN's
- turn > 1000 Ps rows into NaN's
'''
autos.loc[autos['power_ps'] == 0,'power_ps'] = np.NaN
autos.loc[autos['power_ps'] > 1000,'power_ps'] = np.NaN
autos['power_ps'].describe()
# I'm getting this 'SettingWithCopyWarning'however, the way i'm doing it is exactly how the warning suggests.
# The data itself is looking good as well, so i'll be moving on for now.

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

count    44447.000000
mean       126.140234
std         63.444401
min          1.000000
25%         80.000000
50%        116.000000
75%        150.000000
max       1000.000000
Name: power_ps, dtype: float64



---


Lastly, lets recall the final step of cleanup:
#Text to numeric candidates
price and odometer stand out for this remove $ and 'km' and put in the column title
'date_created' and 'last_seen' i'll want to turn into datetime objects

In [18]:
# remembering the columns we're going to work with
autos[['price','odometer']].head()

    price   odometer
0  $5,000  150,000km
1  $8,500  150,000km
2  $8,990   70,000km
3  $4,350   70,000km
4  $1,350  150,000km

In [19]:
# removing the symbols i don't want before turning the strings into integers
autos['price'] = autos['price'].str.replace('$','')
autos['price'] = autos['price'].str.replace(',','')
autos['odometer'] = autos['odometer'].str.replace(',','')
autos['odometer'] = autos['odometer'].str.replace('km','')

# checking this went as expected
autos[['price','odometer']].head()
autos[['price','odometer']].dtypes


# i'm getting the SettingWithCopyWarning again yet the data looks good to me. I wonder if its because i'm chaining things together too much.

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

price       object
odometer    object
dtype: object

In [20]:
# lastly, turning strings into integers
autos['price'] = autos['price'].astype(int)
autos['odometer'] = autos['odometer'].astype(int)
autos[['price','odometer']].dtypes

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

price       int64
odometer    int64
dtype: object

In [21]:
# Renaming column titles
autos.rename(columns={'price':'price_$','odometer':'odometer_km'},inplace=True)
autos.head()

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

          date_crawled  ...            last_seen
0  2016-03-26 17:47:46  ...  2016-04-06 06:45:54
1  2016-04-04 13:38:56  ...  2016-04-06 14:45:08
2  2016-03-26 18:57:24  ...  2016-04-06 20:15:37
3  2016-03-12 16:58:10  ...  2016-03-15 03:16:28
4  2016-04-01 14:38:50  ...  2016-04-01 14:38:50

[5 rows x 20 columns]

In [22]:
# Taking a look at the data again
autos.head()

          date_crawled  ...            last_seen
0  2016-03-26 17:47:46  ...  2016-04-06 06:45:54
1  2016-04-04 13:38:56  ...  2016-04-06 14:45:08
2  2016-03-26 18:57:24  ...  2016-04-06 20:15:37
3  2016-03-12 16:58:10  ...  2016-03-15 03:16:28
4  2016-04-01 14:38:50  ...  2016-04-01 14:38:50

[5 rows x 20 columns]

In [23]:
autos.describe()

            price_$  registration_year  ...  nr_of_pictures   postal_code
count  4.999900e+04       49999.000000  ...         49999.0  49999.000000
mean   9.840241e+03        2005.073281  ...             0.0  50814.049781
std    4.811092e+05         105.713870  ...             0.0  25779.832670
min    0.000000e+00        1000.000000  ...             0.0   1067.000000
25%    1.100000e+03        1999.000000  ...             0.0  30451.000000
50%    2.950000e+03        2003.000000  ...             0.0  49577.000000
75%    7.200000e+03        2008.000000  ...             0.0  71540.000000
max    1.000000e+08        9999.000000  ...             0.0  99998.000000

[8 rows x 7 columns]

In [24]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49999 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date_crawled        49999 non-null  object
 1   name                49999 non-null  object
 2   seller              49999 non-null  object
 3   offer_type          49999 non-null  object
 4   price_$             49999 non-null  int64
 5   abtest              49999 non-null  object
 6   vehicle_type        44904 non-null  object
 7   registration_year   49999 non-null  int64
 8   gearbox             47320 non-null  object
 9   power_ps            44447 non-null  float64
 10  model               47241 non-null  object
 11  odometer_km         49999 non-null  int64
 12  registration_month  49999 non-null  int64
 13  fuel_type           45518 non-null  object
 14  brand               49999 non-null  object
 15  unrepaired_damage   40171 non-null  object
 16  ad_created          49999 non-null  object
 17  nr_of_pictures      49999 non-null  int64
 18  postal_code         49999 non-null  int64
 19  last_seen           49999 non-null  object
dtypes: float64(1), int64(6), object(13)
memory usage: 8.0+ MB

# Conclusion of my own cleanup pass
The data looks good and it looks like i have achieved all the goals i had.
The one thing that worries me is the consistent reappearance of the 'SettingWithCopyWarning'. I'm not trying to take it lightly and check the data and make sure that everything is correct.
Yet i can't find anything that didn't go as i had expected.
So i will move on with the next step in the guided project for now.


---

The next step in the project is checking the 'price_$'and 'odometer_km'columns for outliers and analyzing anything that seems unrealistically high or low that we might want to remove.
Basically what we've already done with the 'power_ps'column for example.

In [25]:
# First exploring the price column

# how many unique values does the column have?
autos['price_$'].unique().shape

(2357,)

In [26]:
# Check min, max, median, mean values
autos['price_$'].describe()

count    4.999900e+04
mean     9.840241e+03
std      4.811092e+05
min      0.000000e+00
25%      1.100000e+03
50%      2.950000e+03
75%      7.200000e+03
max      1.000000e+08
Name: price_$, dtype: float64

In [27]:
# How many are there of eeach unique value in the dataframe (highest first)
autos['price_$'].value_counts().sort_index(ascending=False).head(20)

99999999    1
27322222    1
12345678    3
11111111    2
10000000    1
3890000     1
1300000     1
1234566     1
999999      2
999990      1
350000      1
345000      1
299000      1
295000      1
265000      1
259000      1
250000      1
220000      1
198000      1
197000      1
Name: price_$, dtype: int64

In [28]:
# How many are there of eeach unique value in the dataframe (loweest first)
autos['price_$'].value_counts().sort_index(ascending=True).head(20)

0     1420
1      156
2        3
3        1
5        2
8        1
9        1
10       7
11       2
12       3
13       2
14       1
15       2
17       3
18       1
20       4
25       5
29       1
30       7
35       1
Name: price_$, dtype: int64

In [29]:
# lets do an initial pass of turning the extreme outliers into NaN's
autos[autos['price_$'].between(350001,99999999)] = np.NaN
autos[autos['price_$'].between(0,0.9)] = np.NaN

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [30]:
# checking the values again
autos['price_$'].describe()

count     48565.000000
mean       5888.935591
std        9059.854754
min           1.000000
25%        1200.000000
50%        3000.000000
75%        7490.000000
max      350000.000000
Name: price_$, dtype: float64

In [31]:
autos['price_$'].value_counts().sort_index(ascending=True).head(20)

1.0     156
2.0       3
3.0       1
5.0       2
8.0       1
9.0       1
10.0      7
11.0      2
12.0      3
13.0      2
14.0      1
15.0      2
17.0      3
18.0      1
20.0      4
25.0      5
29.0      1
30.0      7
35.0      1
40.0      6
Name: price_$, dtype: int64

 Looking at the remaining data i wonder why there are cars being sold for $1.00. I assume this is because ebay is an auction house and starting bids can be defined by the seller but perhaps they are also able to set a minimum price below which they can decide to not sell.

In [32]:
# Moving on to Odometer data

# How many unique vlues does it have?
autos['odometer_km'].unique().shape

(14,)

In [33]:
# Checking min, max, median etc.
autos['odometer_km'].describe()

count     48565.000000
mean     125770.101925
std       39788.636804
min        5000.000000
25%      125000.000000
50%      150000.000000
75%      150000.000000
max      150000.000000
Name: odometer_km, dtype: float64

In [34]:
# Looking at how often each individual value is in the series
autos['odometer_km'].value_counts()

150000.0    31414
125000.0     5057
100000.0     2115
90000.0      1734
80000.0      1415
70000.0      1217
60000.0      1155
50000.0      1012
5000.0        836
40000.0       815
30000.0       780
20000.0       762
10000.0       253
Name: odometer_km, dtype: int64

To me personally this looks ok.
I suspect that there is no option to enter more than 150,000 km in the ad setup form and that it might just be "150,000 or more", thats why 60% of the data is at this specific number.


---

The guided project is examining the distribution of values in the date_crawled, ad_created and last_seen columns.

In [35]:
# Taking a look at the data first
autos[['date_crawled','ad_created','last_seen']].head()

          date_crawled           ad_created            last_seen
0  2016-03-26 17:47:46  2016-03-26 00:00:00  2016-04-06 06:45:54
1  2016-04-04 13:38:56  2016-04-04 00:00:00  2016-04-06 14:45:08
2  2016-03-26 18:57:24  2016-03-26 00:00:00  2016-04-06 20:15:37
3  2016-03-12 16:58:10  2016-03-12 00:00:00  2016-03-15 03:16:28
4  2016-04-01 14:38:50  2016-04-01 00:00:00  2016-04-01 14:38:50

In [36]:
autos['date_crawled'].str[:10].value_counts(normalize=True,dropna=False).sort_index()

2016-03-05    0.024600
2016-03-06    0.013640
2016-03-07    0.034981
2016-03-08    0.032341
2016-03-09    0.032141
2016-03-10    0.031261
2016-03-11    0.031641
2016-03-12    0.035861
2016-03-13    0.015220
2016-03-14    0.035501
2016-03-15    0.033301
2016-03-16    0.028761
2016-03-17    0.030721
2016-03-18    0.012540
2016-03-19    0.033781
2016-03-20    0.036801
2016-03-21    0.036301
2016-03-22    0.032041
2016-03-23    0.031301
2016-03-24    0.028501
2016-03-25    0.030701
2016-03-26    0.031281
2016-03-27    0.030201
2016-03-28    0.033861
2016-03-29    0.033121
2016-03-30    0.032721
2016-03-31    0.030921
2016-04-01    0.032721
2016-04-02    0.034461
2016-04-03    0.037501
2016-04-04    0.035441
2016-04-05    0.012720
2016-04-06    0.003080
2016-04-07    0.001360
NaN           0.028681
Name: date_crawled, dtype: float64

In [37]:
autos['date_crawled'].str[:10].describe()

count          48565
unique            34
top       2016-04-03
freq            1875
Name: date_crawled, dtype: object

I'm not sure what i am supposed to derive from this data.
What i can see is that the crawl dates are fairly evenly distributed.
I'm assuming that this means that the crawler is adding the same amount of data each day.

In [38]:
autos['ad_created'].str[:10].value_counts(normalize=True,dropna=False).sort_index()

2015-06-11    0.000020
2015-08-10    0.000020
2015-09-09    0.000020
2015-11-10    0.000020
2015-12-05    0.000020
                ...
2016-04-04    0.035801
2016-04-05    0.011480
2016-04-06    0.003160
2016-04-07    0.001220
NaN           0.028681
Name: ad_created, Length: 77, dtype: float64

In [39]:
autos['ad_created'].str[:10].describe()

count          48565
unique            76
top       2016-04-03
freq            1887
Name: ad_created, dtype: object

In [40]:
autos['ad_created'].str[:10].sort_index()

0        2016-03-26
1        2016-04-04
2        2016-03-26
3        2016-03-12
4        2016-04-01
            ...
49995    2016-03-27
49996    2016-03-28
49997    2016-04-02
49998    2016-03-08
49999    2016-03-13
Name: ad_created, Length: 49999, dtype: object

This column might need some further examination as the distribution of values at the head of the dataset is all the same percentages.
The earlier dates of ad posts seem to be fairly spread out as well.
When i print the earliest dates, i see that something with the indexing isn't working properly.

In [41]:
autos['last_seen'].str[:10].value_counts(normalize=True,dropna=False).sort_index()

2016-03-05    0.001040
2016-03-06    0.004200
2016-03-07    0.005240
2016-03-08    0.007200
2016-03-09    0.009320
2016-03-10    0.010360
2016-03-11    0.012020
2016-03-12    0.023100
2016-03-13    0.008640
2016-03-14    0.012240
2016-03-15    0.015420
2016-03-16    0.015980
2016-03-17    0.027281
2016-03-18    0.007140
2016-03-19    0.015380
2016-03-20    0.020060
2016-03-21    0.020040
2016-03-22    0.020760
2016-03-23    0.018000
2016-03-24    0.019200
2016-03-25    0.018660
2016-03-26    0.016320
2016-03-27    0.015200
2016-03-28    0.020260
2016-03-29    0.021700
2016-03-30    0.024060
2016-03-31    0.023100
2016-04-01    0.022140
2016-04-02    0.024200
2016-04-03    0.024480
2016-04-04    0.023780
2016-04-05    0.121182
2016-04-06    0.215444
2016-04-07    0.128163
NaN           0.028681
Name: last_seen, dtype: float64

In [42]:
autos['last_seen'].str[:10].describe()

count          48565
unique            34
top       2016-04-06
freq           10772
Name: last_seen, dtype: object

It is interesting that 'last_seen' has exactly the same amount of unique values as 'date_crawled' i'm not sure what this means, but its something to take note of.
Looking at it not sorted by date but highest value, it looks a bit like there is about 45% of the entries happening in the last three days.

--- 

Next i'll examine the distribution of registration_year. This could be an indicator for at what age on average people start selling their cars.

In [43]:
autos['registration_year'].describe()

count    48565.000000
mean      2004.755421
std         88.643887
min       1000.000000
25%       1999.000000
50%       2004.000000
75%       2008.000000
max       9999.000000
Name: registration_year, dtype: float64

In [44]:
autos['registration_year'].value_counts().sort_index().tail(15)

2015.0     392
2016.0    1220
2017.0    1392
2018.0     470
2019.0       2
2800.0       1
4100.0       1
4500.0       1
4800.0       1
5000.0       4
5911.0       1
6200.0       1
8888.0       1
9000.0       1
9999.0       3
Name: registration_year, dtype: int64

In [45]:
autos['registration_year'].value_counts().sort_index().head()

1000.0    1
1001.0    1
1111.0    1
1800.0    2
1910.0    5
Name: registration_year, dtype: int64

There is definitely values that need to be deleted in this one. Anything under 1910 is before the automobile was invented.
And anything over 2019 is the future.

In [46]:
# Turning unrealistic years into NaN's
autos[autos['registration_year'] > 2019.0] = np.NaN
autos[autos['registration_year'] < 1910.0] = np.NaN

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [47]:
autos['registration_year'].value_counts().sort_index().head()

1910.0    5
1927.0    1
1929.0    1
1931.0    1
1934.0    2
Name: registration_year, dtype: int64

In [48]:
autos['registration_year'].value_counts().sort_index().tail()

2015.0     392
2016.0    1220
2017.0    1392
2018.0     470
2019.0       2
Name: registration_year, dtype: int64

Now lets move on to page 7 of the guided project


---

In the next section we are going to aggregate data based on the various car brands.
I'm going to run through the process in the following steps:
* Identify values that can be of interest
* Create a dictionary to store the values in
* find the means of the data to compare the brands with each other

In [49]:
autos['brand'].unique()

array(['peugeot', 'bmw', 'volkswagen', 'smart', 'ford', 'chrysler',
       'seat', 'renault', 'mercedes_benz', 'audi', 'sonstige_autos',
       'opel', 'mazda', 'porsche', 'mini', nan, 'toyota', 'dacia',
       'nissan', 'jeep', 'saab', 'volvo', 'mitsubishi', 'jaguar', 'fiat',
       'skoda', 'subaru', 'kia', 'citroen', 'chevrolet', 'hyundai',
       'honda', 'daewoo', 'suzuki', 'trabant', 'land_rover', 'alfa_romeo',
       'lada', 'rover', 'daihatsu', 'lancia'], dtype=object)

In [50]:
autos['brand'].value_counts()

volkswagen        10331
bmw                5274
opel               5274
mercedes_benz      4650
audi               4168
ford               3382
renault            2325
peugeot            1430
fiat               1262
seat                919
skoda               780
nissan              741
mazda               739
smart               694
citroen             685
toyota              611
hyundai             483
sonstige_autos      468
volvo               439
mini                418
mitsubishi          397
honda               388
kia                 345
alfa_romeo          321
porsche             287
suzuki              286
chevrolet           275
chrysler            169
dacia               129
daihatsu            122
jeep                107
subaru              102
land_rover           99
saab                 79
daewoo               76
jaguar               74
trabant              67
rover                65
lancia               55
lada                 29
Name: brand, dtype: int64

I think it would be quite interesting to be able to aggregate by country as well but that data is not in this dataset, so i'm going to go with every brand that has more than a 5% share of all the ads instead.
I like that method better than just going with the top X amount of ads.

In [51]:
# Setting up our new dataset to work and perform analysis with
autos.head()

          date_crawled  ...            last_seen
0  2016-03-26 17:47:46  ...  2016-04-06 06:45:54
1  2016-04-04 13:38:56  ...  2016-04-06 14:45:08
2  2016-03-26 18:57:24  ...  2016-04-06 20:15:37
3  2016-03-12 16:58:10  ...  2016-03-15 03:16:28
4  2016-04-01 14:38:50  ...  2016-04-01 14:38:50

[5 rows x 20 columns]

In [52]:
# picking all the brands that have more than 5% share of all the ads and put it in a dictionary
brands = autos['brand'].value_counts(normalize=True) > 0.05

In [53]:
top_brands = {}
for b in brands.index:
  if brands[b] == True:
    top_brands[b] = None

In [54]:
# We now have a Dictionary with all the top brands to work with.
top_brands

{'audi': None,
 'bmw': None,
 'ford': None,
 'mercedes_benz': None,
 'opel': None,
 'volkswagen': None}

Just looking at the brand names i'm noticing that 5 out of the 6 brands are german brands. Since this data was sourced from the german version of ebay, this is not surprising but should be something to be taken into account when evaluating country specific data.



---



Next step is to collect the average data of each brand. 
I personally would be intreested in 'power_ps', 'odometer_km' and 'price'
There are lots of great insights that could be gained from all those columns, but i'm going to stick to the guided project and simply find the mean price of all those brands.

In [55]:
# separate out all the prices for each brand and calculate the mean
for key in top_brands:
  top_brands[key] = []
  top_brands[key].append(autos[autos['brand'] == key]['price_$'].mean())

In [56]:
# output our dictionary of values in descending
sorted(top_brands.items(),key=lambda x: x[1],reverse=True)

[('audi', [9212.9306621881]),
 ('mercedes_benz', [8526.623225806452]),
 ('bmw', [8261.382442169132]),
 ('volkswagen', [5333.1962055948115]),
 ('ford', [3728.4121821407452]),
 ('opel', [2941.4664391353813])]

Unsurprisingly, the premium brands Audi, Mercedes and BMW have a much larger resale value than the mid range brands Ford and Opel while Volkswagen who by far has the most ads up is right in the middle of the range.

---

In the next step we'll start comparing the odometer column to the prices, however, first we'll need to turn the new data into a new dataframe.
What i find quite interesting is that basically i still have ALL the prices stored in the top_brands dictionary and am only showing the mean through the '.mean()' method.
I wonder if this is going to become an issue down the road.

To make sure it doesn't i'm going to turn the values from a list into floats first.

In [60]:
top_brands

{'audi': [9212.9306621881],
 'bmw': [8261.382442169132],
 'ford': [3728.4121821407452],
 'mercedes_benz': [8526.623225806452],
 'opel': [2941.4664391353813],
 'volkswagen': [5333.1962055948115]}

In [61]:
# turning values from the dictionary from lists of floats into one single float
for key in top_brands:
  top_brands[key] = top_brands[key][0]

In [62]:
top_brands

{'audi': 9212.9306621881,
 'bmw': 8261.382442169132,
 'ford': 3728.4121821407452,
 'mercedes_benz': 8526.623225806452,
 'opel': 2941.4664391353813,
 'volkswagen': 5333.1962055948115}

In [63]:
# creating a new pandas dataframe from the top_brands dictionary
prices = pd.Series(top_brands)
price_km = pd.DataFrame(prices,columns=['mean_price'])

In [64]:
price_km

                mean_price
volkswagen     5333.196206
bmw            8261.382442
opel           2941.466439
mercedes_benz  8526.623226
audi           9212.930662
ford           3728.412182

In [65]:
# separate out all the km values from the odometer column for each brand and calculate the mean
km ={}
for key in top_brands:
  km[key] = autos[autos['brand'] == key]['odometer_km'].mean()

In [66]:
# convert the dictionary into a Pandas Series and add it to the 'price_km' dataframe
price_km['mean_km'] = pd.Series(km)
price_km

                mean_price        mean_km
volkswagen     5333.196206  128955.570613
bmw            8261.382442  132682.973075
opel           2941.466439  129452.028821
mercedes_benz  8526.623226  130848.387097
audi           9212.930662  129492.562380
ford           3728.412182  124349.497339

This is not in the guided project, but i think it would be cool to add a column with the price to km ratio to visualize the relationships and see if there's anything to take away from that.

Assuming that a higher ratio would suggest a higher resale value per kilometer.

In [80]:
# Create the ration column and sort it in descending order
price_km['p_km_ratio'] = price_km['mean_price']/price_km['mean_km']
price_km.sort_values('p_km_ratio',ascending=False)

                mean_price        mean_km  p_km_ratio
audi           9212.930662  129492.562380    0.071146
mercedes_benz  8526.623226  130848.387097    0.065164
bmw            8261.382442  132682.973075    0.062264
volkswagen     5333.196206  128955.570613    0.041357
ford           3728.412182  124349.497339    0.029983
opel           2941.466439  129452.028821    0.022722

This analysis has absolutely not brought me any new unexpected insights into anything.
Perhaps it is because i've grown up in Switzerland and know the premium german brands and which one is likely to have the highest resale value.
The only insight it gave me is which brand has the highest value which could have been either of the top 3.

It was, however, a very nice data cleaning and pandas project that helped me understand how dataframes work and gave lots of insigths into what i still need to focus on getting a better understanding of.

---

Further analysis that could be conducted:
* Find the most common brand/model combinations
* split the odometer_km column into groups and use aggregation to see if average prices follows any patterns based on the mileage
* How much cheaper are cars with damage than their non damaged counterparts

In [81]:
autos.head()

          date_crawled  ...            last_seen
0  2016-03-26 17:47:46  ...  2016-04-06 06:45:54
1  2016-04-04 13:38:56  ...  2016-04-06 14:45:08
2  2016-03-26 18:57:24  ...  2016-04-06 20:15:37
3  2016-03-12 16:58:10  ...  2016-03-15 03:16:28
4  2016-04-01 14:38:50  ...  2016-04-01 14:38:50

[5 rows x 20 columns]

In [83]:
# Find most common brand/model combinations
'''
- Create a dictionary of all the brands (use the full list this time) key = brand name, value = empty dictionary
- loop through all the data and create a frequency table of all models
OR
- create the dictionary and simply make the values lists of all model entries, then use the '.value_counts()'function for analysis
i find the latter a bit more elegant, so i'll do that.
'''
brands = {}
for brand in autos['brand']:
  if not brand in brands:
    brands[brand] = []

In [103]:
# run through the brands dictionary and assign it all models from that brand, count the values and output the one model with the highest value
for brand in brands:
  brands[brand] = autos.loc[autos['brand']== brand,'model'].value_counts().head(1)

In [141]:
[print(brand,brands[brand]) for brand in brands]

peugeot 2_reihe    610
Name: model, dtype: int64
bmw 3er    2686
Name: model, dtype: int64
volkswagen golf    3898
Name: model, dtype: int64
smart fortwo    572
Name: model, dtype: int64
ford focus    793
Name: model, dtype: int64
chrysler andere    52
Name: model, dtype: int64
seat ibiza    349
Name: model, dtype: int64
renault twingo    654
Name: model, dtype: int64
mercedes_benz c_klasse    1161
Name: model, dtype: int64
audi a4    1256
Name: model, dtype: int64
sonstige_autos Series([], Name: model, dtype: int64)
opel corsa    1680
Name: model, dtype: int64
mazda 3_reihe    174
Name: model, dtype: int64
porsche 911    141
Name: model, dtype: int64
mini cooper    276
Name: model, dtype: int64
nan Series([], Name: model, dtype: int64)
toyota yaris    128
Name: model, dtype: int64
dacia sandero    47
Name: model, dtype: int64
nissan micra    255
Name: model, dtype: int64
jeep grand    43
Name: model, dtype: int64
saab andere    55
Name: model, dtype: int64
volvo v70    93
Name: model, dtype: int64
mitsubishi colt    119
Name: model, dtype: int64
jaguar andere    39
Name: model, dtype: int64
fiat punto    441
Name: model, dtype: int64
skoda octavia    309
Name: model, dtype: int64
subaru legacy    31
Name: model, dtype: int64
kia andere    67
Name: model, dtype: int64
citroen andere    230
Name: model, dtype: int64
chevrolet andere    149
Name: model, dtype: int64
hyundai i_reihe    177
Name: model, dtype: int64
honda civic    181
Name: model, dtype: int64
daewoo matiz    24
Name: model, dtype: int64
suzuki andere    123
Name: model, dtype: int64
trabant 601    49
Name: model, dtype: int64
land_rover freelander    32
Name: model, dtype: int64
alfa_romeo 156    89
Name: model, dtype: int64
lada niva    15
Name: model, dtype: int64
rover andere    57
Name: model, dtype: int64
daihatsu cuore    66
Name: model, dtype: int64
lancia ypsilon    23
Name: model, dtype: int64

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]